body {
  padding-top: 60px;
  ont-family: GothamPro; }

button {
  padding: 0; }

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }
  .popup .popup-message {
    background-color: white;
    padding: 10px;
    height: 320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column; }
    .popup .popup-message p, .popup .popup-message button, .popup .popup-message input {
      margin-top: 15px;
      margin-bottom: 15px; }
    .popup .popup-message input {
      height: 40px;
      border: 1px solid #646464;
      border-radius: 10px;
      text-align: center; }
    .popup .popup-message p {
      color: #646464;
      font-size: 18px;
      font-weight: bold; }
    .popup .popup-message .corner-pop-up-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .popup .popup-message .corner-pop-up-btn span {
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: #646464; }

.pop-up-btn {
  height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #646464;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  line-height: 50px; }

.navbar {
  background-color: white;
  height: 60px;
  padding-top: 10px; }
  .navbar img {
    height: 40px; }
  .navbar .navbar-header button {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; }
  .navbar .navbar-header .navbar-brand {
    padding-top: 0; }
  .navbar .navbar-header a {
    color: #646464; }
    .navbar .navbar-header a:hover {
      color: #646464; }
  .navbar .menu ul {
    float: right; }
    .navbar .menu ul li a {
      color: #646464;
      font-size: 14px; }
      .navbar .menu ul li a:hover {
        background: transparent;
        color: #545ad8; }

.scrolled-nav {
  border-bottom: 5px solid #646464;
  transition: .5s; }

#full-slider {
  position: relative;
  width: 100vw;
  height: auto; }
  #full-slider #cover {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    height: 100%; }
    #full-slider #cover .content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: column; }
      #full-slider #cover .content h1, #full-slider #cover .content p, #full-slider #cover .content button {
        z-index: 3;
        margin-bottom: 35px; }
      #full-slider #cover .content h1 {
        font-size: 75px;
        font-weight: bold;
        text-align: center; }
      #full-slider #cover .content p {
        width: 30%;
        text-align: center; }
  #full-slider .left-arrow, #full-slider .right-arrow {
    height: 50px;
    width: 50px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center; }
    #full-slider .left-arrow svg path, #full-slider .right-arrow svg path {
      fill: #ffffff;
      width: 2px; }
    #full-slider .left-arrow:hover, #full-slider .right-arrow:hover {
      transition: .3s;
      background-color: #ffffff; }
      #full-slider .left-arrow:hover svg path, #full-slider .right-arrow:hover svg path {
        transition: .3s;
        fill: #646464; }
  #full-slider .left-arrow {
    transform: scale(-1, 1); }

.carousel-control, .carousel-control.left, .carousel-control.right,
.carousel-control:hover,
.carousel-control:focus {
  background: none;
  filter: none;
  opacity: 1; }

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center; }

.section {
  color: #646464; }
  .section .section-header h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px; }
    .section .section-header h2 span {
      position: relative; }
      .section .section-header h2 span:after {
        content: '';
        position: absolute;
        border-top: 2px solid #646464;
        left: 40%;
        bottom: -10%;
        width: 20%;
        transition: all 1s ease-in; }
      .section .section-header h2 span:hover:after {
        animation: header-underline .5s ease-in-out forwards; }
  .section h3 {
    font-size: 18px; }
  .section p {
    font-size: 14px; }

#full-slider, #mini-slider, #columns {
  margin-bottom: 40px; }

#article {
  margin-bottom: 160px; }

.mini-slider {
  display: flex; }
  .mini-slider .mini-item {
    margin: 0; }
    .mini-slider .mini-item img {
      width: 100%; }
  .mini-slider .tablet-control {
    padding-top: 50px; }
  .mini-slider .btn-folder {
    display: flex;
    align-items: center;
    justify-content: center; }
    .mini-slider .btn-folder .left-arrow, .mini-slider .btn-folder .right-arrow {
      height: 50px;
      width: 50px;
      border: 1px solid black;
      border-radius: 50%;
      transition: .3s;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mini-slider .btn-folder .left-arrow:hover, .mini-slider .btn-folder .right-arrow:hover {
        transition: .3s;
        background-color: #646464;
        border-color: #646464; }
        .mini-slider .btn-folder .left-arrow:hover svg path, .mini-slider .btn-folder .right-arrow:hover svg path {
          transition: .3s;
          fill: #ffffff; }
    .mini-slider .btn-folder .left-arrow {
      transform: scale(-1, 1); }
  .mini-slider .owl-prev, .mini-slider .owl-next {
    display: none; }

#article .article-container b {
  color: black; }
#article .article-container span {
  text-decoration: underline; }

@keyframes header-underline {
  from {
    left: 40%;
    width: 20%; }
  to {
    left: 30%;
    width: 40%; } }
@media (max-width: 768px) {
  .desktop-popup.popup-message {
    display: none; }

  .desktop-control .btn-folder {
    display: none; }

  .tablet-popup.popup-message {
    display: flex;
    width: 100vw; }

  .tablet-control .btn-folder {
    display: flex; }
    .tablet-control .btn-folder .left-arrow, .tablet-control .btn-folder .right-arrow {
      height: 50px;
      width: 50px; }
    .tablet-control .btn-folder .left-arrow {
      float: right; }
    .tablet-control .btn-folder .right-arrow {
      float: left; }

  .owl-carousel {
    margin-bottom: 30px; }

  .navbar.scrolled-nav {
    border-bottom: none;
    transition: .5s; }

  .navbar-brand {
    display: none; }

  .navbar-header {
    width: 100vw;
    display: flex;
    justify-content: center; }

  .menu ul {
    margin-top: -5px;
    width: 100vw;
    background-color: #fff; }
    .menu ul li {
      display: block;
      text-align: center; }

  #full-slider {
    height: 90vh; }
    #full-slider img {
      height: 90vh;
      object-fit: cover;
      overflow: hidden; }
    #full-slider #cover .content h1 {
      font-size: 25px; }
    #full-slider #cover .content p {
      font-size: 12px; }
    #full-slider .left.carousel-control, #full-slider .right.carousel-control {
      display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .desktop-popup.popup-message {
    display: none; }

  .desktop-control .btn-folder {
    display: none; }

  .tablet-popup.popup-message {
    display: flex; }

  .tablet-control .btn-folder {
    display: flex; }
    .tablet-control .btn-folder .left-arrow, .tablet-control .btn-folder .right-arrow {
      height: 30px;
      width: 30px; }

  .owl-carousel {
    margin-bottom: 30px; } }
@media (min-width: 992px) {
  .desktop-popup.popup-message {
    display: none; }

  .desktop-control .btn-folder {
    display: none; }

  .tablet-popup.popup-message {
    display: flex; }

  .tablet-control .btn-folder {
    display: flex; }

  .owl-carousel {
    margin-bottom: 30px; } }
@media (min-width: 1200px) {
  .desktop-popup.popup-message {
    display: flex; }

  .desktop-control .btn-folder {
    display: flex; }

  .tablet-popup.popup-message {
    display: none; }

  .tablet-control .btn-folder {
    display: none; }

  .owl-carousel {
    margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
