// ==========  VARIABLES AND MIXINS   ==========
// =============================================
$main-text-color: #646464;
$secondary-text-color: #ffffff;
$secondary-menulink-color: #545ad8;

@mixin flex {
	display: flex;
	align-items: center;
    justify-content: center; 
}

@mixin flex-column {
	flex-wrap: nowrap;
    flex-direction: column;
}

body {
	padding-top: 60px;
	font-family: GothamPro;
}

a {
    cursor: pointer;
	color: $main-text-color;
    &:hover {
    	color: $secondary-menulink-color;
	}
}
button {
	padding: 0;
}

// ============   POP UP STYLE   ===============
// =============================================
.popup {
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include flex;

    display: none;

    .popup-message {
    	background-color: white;
	    padding: 10px;
	    height: 320px;
	    position: relative;

	    @include flex;
	    @include flex-column;

	    p, button, input {
	    	margin-top: 15px;
	    	margin-bottom: 15px;
	    }

	    input {
	    	height: 40px;
	    	border: 1px solid $main-text-color;
	    	border-radius: 10px;
	    	text-align: center;
	    }

	    p {
	    	color: $main-text-color;
	    	font-size: 18px;
    		font-weight: bold;
	    }

	    .corner-pop-up-btn {
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 40px;
		    height: 40px;

		    @include flex;

		    span {
		    	margin: 0;
		    	padding: 0;
		    	cursor: pointer;
    			color: $main-text-color;
		    }
		}
    }
}

.pop-up-btn {
    height: 50px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: $main-text-color;
    color: $secondary-text-color;
    font-size: 16px;
    outline: none;
    line-height: 50px;
}

// =============   MOBILE MENU   ===============
// =============================================
.mobile-menu {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100vw;
	background-color: $secondary-text-color;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 8000;

	.logo {
		@include flex;

		img{
			height: 40px;
		}
	}
	ul {
		padding: 0;
		list-style: none;
		li{
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;

			a {
				text-decoration: none;
				color: $main-text-color;
				font-size: 14px;
				text-align: center;
				padding-top: 5px;
				padding-bottom: 5px;

				&:hover {
					color: $secondary-menulink-color;
				}
			}
		}

	}
	.mobile-menu-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		cursor: pointer;

		@include flex;

		span {
			color: black;
			font-size: 24px;
			font-weight: 300;
		}
	}
}


// =============   NAVIGATION   ================
// =============================================
                   
.navbar {
	background-color: white;
	height: 60px;
	padding-top: 10px;

	img {
		height: 40px;
	}
	.navbar-header {
		button {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
		.navbar-brand {
			padding-top: 0;
		}

		a {
			color: $main-text-color;
			&:hover {
				color: $main-text-color;
			}
		}
	}
	.menu {
		ul {
			float: right;

			li{
				a {
					color: $main-text-color;
					font-size: 14px;

					&:hover {
						background: transparent;
						color: $secondary-menulink-color;
					}
					&:active, &:focus {
						background: transparent;
					}
				}
			}

		}
	}
}

.scrolled-nav {
    border-bottom: 5px solid $main-text-color;
    transition: .5s;
}

// =============   FULL SLIDER   ===============
// =============================================

#full-slider {
	position: relative;
	width: 100%;
	height: auto;

	img {
		width: 100%;
	}

	#cover {
		position: absolute;
		left: 0;
		top: 0;
		color: $secondary-text-color;
		height: 100%;
		width: 100%;

		.content {
			height: 100%;

			@include flex;
			@include flex-column;
		
			h1, p, button {
				z-index: 3;
				margin-bottom: 35px;
			}

			h1 {
				font-size: 75px;
    			font-weight: bold;
    			text-align: center;
			}

			p{
				width: 30%;
    			text-align: center;
			}
		}
	}

	.left-arrow, .right-arrow {
		height: 50px;
	    width: 50px;
	    border: 2px solid $secondary-text-color;
	    border-radius: 50%;
	    transition: .3s;
	    
	    @include flex;

	    svg path {
	    	fill: $secondary-text-color;
	    	width: 2px;
	    }

	    &:hover {
    		transition: .3s;
   			background-color: $secondary-text-color;

   			svg path {
   				transition: .3s;
				fill: $main-text-color;	
   			}
		}
	}

	.left-arrow {
		transform: scale(-1, 1);
	}
}

.carousel-control, .carousel-control.left, .carousel-control.right,
.carousel-control:hover,
.carousel-control:focus {
    background: none;
    filter: none;
    opacity: 1;
}
.carousel-control {
    @include flex;
}

// ===============   SECTIONS  =================
// =============================================

.section {
	color: $main-text-color;

	.section-header {
		h2 {
			font-size: 24px;
			text-align: center;
			margin-bottom: 40px;

			span {
				position: relative;

				&:after {
					content: '';
    				position: absolute;
    				border-top: 2px solid $main-text-color;
    				left: 40%;
    				bottom: -10%;
    				width: 20%;
    				transition: all 1s ease-in;
				}

				&:hover:after {
					animation: header-underline .5s ease-in-out forwards;
				}
			}
		}
	}
	h3 {
		font-size: 18px;
	}

	p {
		font-size: 14px;
	}
}

#full-slider, #mini-slider, #columns {
    margin-bottom: 40px;
}
#article {
    margin-bottom: 160px;
}

.ui-loader {
	display: none;
}

// =============   MINI SLIDER  ================
// =============================================

.mini-slider {
    display: flex;

    .mini-item {
    	// width: 100%;
    	margin: 0;

    	img {
    		width: 100%;
    	}
    }

    .tablet-control {
    		padding-top: 50px;
    }
    .btn-folder {
    	@include flex;

 		.left-arrow, .right-arrow {
	    	height: 50px;
	    	width: 50px;
	    	border: 1px solid black;
	    	border-radius: 50%;
	    	transition: .3s;

	    	@include flex;

	    	&:hover {
	    		transition: .3s;
	   			background-color: $main-text-color;
	   			border-color: $main-text-color;

	   			svg path {
	   				transition: .3s;
    				fill: $secondary-text-color;	
	   			}
	   		}
		}

		.left-arrow {
    		transform: scale(-1, 1);
		}
	}

	.owl-prev, .owl-next {
    	display: none;
	}
}

// ===============   ARTICLE  ==================
// =============================================

#article {
	.article-container {
		b {
			color: black;
		}
		span {
			text-decoration: underline;
		}
	}
}

// ==========  MEDIA AND KEYFRAMES  ============
// =============================================

@keyframes header-underline {
    from {
        left: 40%;
        width: 20%;
    }
    to {
        left: 30%;
        width: 40%;
    }
}


@media (max-width: 768px) {
	.navbar {
		display: none;
	}
	body {
		padding: 0;
	}
	.desktop-popup.popup-message  {
		display: none;
	}
	.desktop-control {
		.btn-folder {
			display: none;
		}
	}
	.tablet-popup.popup-message  {
		display: flex;
		width: 100vw;
	}
	.tablet-control {
		.btn-folder {
			display: flex;
		}
		.btn-folder.left-folder {
			justify-content: flex-end;
		}
		.btn-folder.right-folder {
			justify-content: flex-start;
		}
	}
	.owl-carousel {
		margin-bottom: 30px;
	}
	.navbar.scrolled-nav {
		border-bottom: none;
		transition: .5s;
	}
	.navbar-brand {
		display: none;
	}
	.navbar-header {
		width: 100vw;
		display: flex;
		justify-content: center;
		button {
			float: none;
			padding: 0;
		}
	}
	.menu {
		ul {
			margin-top: -2px;
			width: 100vw;
			background-color: #fff;
			li {
				display: block;
				text-align: center;
				 a {
					 padding-right: 0;
				 }
			}
		}
	}
	#full-slider {
		height: 90vh;

		img {
			height: 90vh;
			object-fit: cover;
			overflow: hidden;
		}
		#cover {
			.content {
				h1 {
					font-size: 25px;
				}
				p {
					width: 90%;
					font-size: 12px;
				}
			}
		}
		.left.carousel-control, .right.carousel-control {
			display: none;
		}
	}
}
@media (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
	.navbar {
		display: block;
	}
	.desktop-popup.popup-message  {
		display: none;
	}
	.desktop-control {
		.btn-folder {
			display: none;
		}
	}
	.tablet-popup.popup-message  {
		display: flex;
	}
	.tablet-control {
		.btn-folder {
				//display: flex;
				//.left-arrow, .right-arrow {
	    			//height: 30px;
    				//width: 50px;
				//}
			}
		}
		.owl-carousel {
			margin-bottom: 30px;
	}
}


@media (min-width: 1200px) {
	.desktop-popup.popup-message {
		display: flex;
	}
	.desktop-control {
		.btn-folder {
			display: flex;
		}
	}
	.tablet-popup.popup-message  {
		display: none;
	}
	.tablet-control {
		.btn-folder {
			display: none;
		}
	}
	.owl-carousel {
		margin-bottom: 0;
	}
}